.fab-button{
    margin-top: 35px;    
    width: 35vw;
    font-size: 12px !important;
    align-items: flex-start;
    display: flex;
}

.fab-button-menu{
    margin-top: 35px; 
       
}

.fab-button-2{
    width: 35vw;
    font-size: 12px !important;
    
}

.fab-icon{
    margin-right: 10px;
}

